<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>ExampleSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="e196d3">  <td>20/02/19 10:54:11</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DemoOne.beforeClass()[pri:0, instance:suiteExample.DemoOne@780cb77]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@143695640</td>   <td></td> </tr>
<tr bgcolor="e196d3">  <td>20/02/19 10:54:11</td>   <td>42</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoOne.f()[pri:0, instance:suiteExample.DemoOne@780cb77]">f</td> 
  <td>main@143695640</td>   <td></td> </tr>
<tr bgcolor="e196d3">  <td>20/02/19 10:54:11</td>   <td>50</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DemoOne.afterClass()[pri:0, instance:suiteExample.DemoOne@780cb77]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@143695640</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/19 10:54:11</td>   <td>52</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;DemoTwo.beforeClass()[pri:0, instance:suiteExample.DemoTwo@691a7f8f]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@143695640</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/19 10:54:11</td>   <td>53</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="DemoTwo.f()[pri:0, instance:suiteExample.DemoTwo@691a7f8f]">f</td> 
  <td>main@143695640</td>   <td></td> </tr>
<tr bgcolor="8eabb0">  <td>20/02/19 10:54:11</td>   <td>57</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;DemoTwo.afterClass()[pri:0, instance:suiteExample.DemoTwo@691a7f8f]">&lt;&lt;afterClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@143695640</td>   <td></td> </tr>
</table>
