<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Default suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="70999e">  <td>20/03/18 10:59:44</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllProducts.beforeClass()[pri:0, instance:suiteCRMproject.AllProducts@7d9d1a19]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1268066861</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>20/03/18 10:59:53</td>   <td>9095</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllProducts.activity4credentials()[pri:0, instance:suiteCRMproject.AllProducts@7d9d1a19]">activity4credentials</td> 
  <td>main@1268066861</td>   <td></td> </tr>
<tr bgcolor="70999e">  <td>20/03/18 10:59:55</td>   <td>11119</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllProducts.Activity13()[pri:0, instance:suiteCRMproject.AllProducts@7d9d1a19]">Activity13</td> 
  <td>main@1268066861</td>   <td></td> </tr>
</table>
