<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>TestSuite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="bbe1b6">  <td>20/02/26 11:07:33</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&lt;&lt;TestNGReport.afterMethod()[pri:0, instance:seleniumreportng.TestNGReport@43814d18]">&lt;&lt;afterMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-2@676320671</td>   <td></td> </tr>
<tr bgcolor="bbe1b6">  <td>20/02/26 11:07:24</td>   <td>-8404</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;TestNGReport.beforeMethod()[pri:0, instance:seleniumreportng.TestNGReport@43814d18]">&gt;&gt;beforeMethod</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>pool-1-thread-1@217154808</td>   <td></td> </tr>
<tr bgcolor="bbe1b6">  <td>20/02/26 11:07:33</td>   <td>-146</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGReport.testCase1()[pri:0, instance:seleniumreportng.TestNGReport@43814d18]">testCase1</td> 
  <td>pool-1-thread-1@217154808</td>   <td></td> </tr>
<tr bgcolor="bbe1b6">  <td>20/02/26 11:07:33</td>   <td>-142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGReport.testCase2()[pri:0, instance:seleniumreportng.TestNGReport@43814d18]">testCase2</td> 
  <td>pool-1-thread-2@676320671</td>   <td></td> </tr>
<tr bgcolor="bbe1b6">  <td>20/02/26 11:07:33</td>   <td>-142</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="TestNGReport.testCase4()[pri:0, instance:seleniumreportng.TestNGReport@43814d18]">testCase4</td> 
  <td>pool-1-thread-3@974249057</td>   <td></td> </tr>
</table>
