<h2>Reporter output</h2><table><tr><td>Test Started</td></tr>
<tr><td>Test skipped with Exception</td></tr>
<tr><td>Title is: Training Support</td></tr>
<tr><td>Element Found</td></tr>
<tr><td>Test Completed</td></tr>
</table>