<table border='1'>
<tr>
<th>Class name</th>
<th>Method name</th>
<th>Groups</th>
</tr><tr>
<td>suiteCRMproject.Salessection</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Activity11</td>
<td>SalesSection </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Activity6</td>
<td>Activities </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>activity4credentials</td>
<td>Activities SalesSection </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Activity7</td>
<td>SalesSection </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Activity8</td>
<td>SalesSection </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Activity12</td>
<td>Activities </td>
</tr>
<tr>
<td>&nbsp;</td>
<td>Activity9</td>
<td>SalesSection </td>
</tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>suiteCRMproject.AllProducts</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>activity4credentials</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Activity13</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
<tr>
<td>suiteCRMproject.HomePage</td>
<td>&nbsp;</td><td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@Test</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>activity1</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>activity2</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>Activity10</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>activity5</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>activity3</td>
<td>&nbsp;</td></tr>
<tr>
<td>&nbsp;</td>
<td>activity4</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeClass</td>
</tr>
<tr>
<td>&nbsp;</td>
<td>beforeClass</td>
<td>&nbsp;</td></tr>
<tr>
<td align='center' colspan='3'>@BeforeMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterMethod</td>
</tr>
<tr>
<td align='center' colspan='3'>@AfterClass</td>
</tr>
</table>
