<h2>Groups used for this test run</h2><table border="1">
<tr> <td align="center"><b>Group name</b></td><td align="center"><b>Methods</b></td></tr><tr><td>Activities</td><td>Salessection.Activity6()[pri:0, instance:suiteCRMproject.Salessection@65466a6a]<br/>Salessection.activity4credentials()[pri:0, instance:suiteCRMproject.Salessection@65466a6a]<br/>Salessection.Activity12()[pri:0, instance:suiteCRMproject.Salessection@65466a6a]<br/></td></tr>
<tr><td>SalesSection</td><td>Salessection.Activity11()[pri:0, instance:suiteCRMproject.Salessection@65466a6a]<br/>Salessection.activity4credentials()[pri:0, instance:suiteCRMproject.Salessection@65466a6a]<br/>Salessection.Activity7()[pri:0, instance:suiteCRMproject.Salessection@65466a6a]<br/>Salessection.Activity9()[pri:0, instance:suiteCRMproject.Salessection@65466a6a]<br/>Salessection.Activity8()[pri:0, instance:suiteCRMproject.Salessection@65466a6a]<br/></td></tr>
</table>
