<h2>Methods run, sorted chronologically</h2><h3>&gt;&gt; means before, &lt;&lt; means after</h3><p/><br/><em>Suite</em><p/><small><i>(Hover the method name to see the test class name)</i></small><p/>
<table border="1">
<tr><th>Time</th><th>Delta (ms)</th><th>Suite<br>configuration</th><th>Test<br>configuration</th><th>Class<br>configuration</th><th>Groups<br>configuration</th><th>Method<br>configuration</th><th>Test<br>method</th><th>Thread</th><th>Instances</th></tr>
<tr bgcolor="72f59f">  <td>20/03/26 09:41:17</td>   <td>0</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.Activity10()[pri:0, instance:suiteCRMproject.HomePage@4b14c583]">Activity10</td> 
  <td>main@1850180796</td>   <td></td> </tr>
<tr bgcolor="dcc9fe">  <td>20/03/26 09:41:43</td>   <td>26382</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Salessection.Activity11()[pri:0, instance:suiteCRMproject.Salessection@65466a6a]">Activity11</td> 
  <td>main@1850180796</td>   <td></td> </tr>
<tr bgcolor="dcc9fe">  <td>20/03/26 09:41:43</td>   <td>26474</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Salessection.Activity12()[pri:0, instance:suiteCRMproject.Salessection@65466a6a]">Activity12</td> 
  <td>main@1850180796</td>   <td></td> </tr>
<tr bgcolor="8174ba">  <td>20/03/26 09:42:24</td>   <td>66840</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllProducts.Activity13()[pri:0, instance:suiteCRMproject.AllProducts@1534f01b]">Activity13</td> 
  <td>main@1850180796</td>   <td></td> </tr>
<tr bgcolor="dcc9fe">  <td>20/03/26 09:41:49</td>   <td>31557</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Salessection.Activity6()[pri:0, instance:suiteCRMproject.Salessection@65466a6a]">Activity6</td> 
  <td>main@1850180796</td>   <td></td> </tr>
<tr bgcolor="dcc9fe">  <td>20/03/26 09:41:49</td>   <td>31599</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Salessection.Activity7()[pri:0, instance:suiteCRMproject.Salessection@65466a6a]">Activity7</td> 
  <td>main@1850180796</td>   <td></td> </tr>
<tr bgcolor="dcc9fe">  <td>20/03/26 09:41:49</td>   <td>31643</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Salessection.Activity8()[pri:0, instance:suiteCRMproject.Salessection@65466a6a]">Activity8</td> 
  <td>main@1850180796</td>   <td></td> </tr>
<tr bgcolor="dcc9fe">  <td>20/03/26 09:41:49</td>   <td>31680</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Salessection.Activity9()[pri:0, instance:suiteCRMproject.Salessection@65466a6a]">Activity9</td> 
  <td>main@1850180796</td>   <td></td> </tr>
<tr bgcolor="72f59f">  <td>20/03/26 09:41:12</td>   <td>-5057</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.activity1()[pri:0, instance:suiteCRMproject.HomePage@4b14c583]">activity1</td> 
  <td>main@1850180796</td>   <td></td> </tr>
<tr bgcolor="72f59f">  <td>20/03/26 09:41:10</td>   <td>-7112</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.activity3()[pri:0, instance:suiteCRMproject.HomePage@4b14c583]">activity3</td> 
  <td>main@1850180796</td>   <td></td> </tr>
<tr bgcolor="72f59f">  <td>20/03/26 09:41:10</td>   <td>-6808</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.activity4()[pri:0, instance:suiteCRMproject.HomePage@4b14c583]">activity4</td> 
  <td>main@1850180796</td>   <td></td> </tr>
<tr bgcolor="dcc9fe">  <td>20/03/26 09:41:41</td>   <td>24309</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="Salessection.activity4credentials()[pri:0, instance:suiteCRMproject.Salessection@65466a6a]">activity4credentials</td> 
  <td>main@1850180796</td>   <td></td> </tr>
<tr bgcolor="8174ba">  <td>20/03/26 09:42:16</td>   <td>58909</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="AllProducts.activity4credentials()[pri:0, instance:suiteCRMproject.AllProducts@1534f01b]">activity4credentials</td> 
  <td>main@1850180796</td>   <td></td> </tr>
<tr bgcolor="72f59f">  <td>20/03/26 09:43:12</td>   <td>114901</td> <td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td><td title="HomePage.activity5()[pri:1, instance:suiteCRMproject.HomePage@4b14c583]">activity5</td> 
  <td>main@1850180796</td>   <td></td> </tr>
<tr bgcolor="72f59f">  <td>20/03/26 09:40:44</td>   <td>-33098</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;HomePage.beforeClass()[pri:0, instance:suiteCRMproject.HomePage@4b14c583]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1850180796</td>   <td></td> </tr>
<tr bgcolor="dcc9fe">  <td>20/03/26 09:41:19</td>   <td>2021</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;Salessection.beforeClass()[pri:0, instance:suiteCRMproject.Salessection@65466a6a]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1850180796</td>   <td></td> </tr>
<tr bgcolor="8174ba">  <td>20/03/26 09:41:51</td>   <td>33717</td> <td>&nbsp;</td><td>&nbsp;</td><td title="&gt;&gt;AllProducts.beforeClass()[pri:0, instance:suiteCRMproject.AllProducts@1534f01b]">&gt;&gt;beforeClass</td> 
<td>&nbsp;</td><td>&nbsp;</td><td>&nbsp;</td>  <td>main@1850180796</td>   <td></td> </tr>
</table>
